<header>
  <h1>BümBöx</h1>
</header>

<div class="album-list">
  <div class="album">
    <a class="ember-view" href="/album/1">
      <img src="images/the-morning-after.jpg">
    </a>
    <p class="album-name">The Morning After</p>
    <p class="album-artist">GOLDHOUSE</p>
    <p class="song-count">8 songs</p>
  </div>

  <div class="album">
    <a class="ember-view" href="/album/1">
      <img src="images/the-morning-after.jpg">
    </a>
    <p class="album-name">The Morning After</p>
    <p class="album-artist">GOLDHOUSE</p>
    <p class="song-count">8 songs</p>
  </div>

  <div class="album">
    <a class="ember-view" href="/album/1">
      <img src="images/the-morning-after.jpg">
    </a>
    <p class="album-name">The Morning After</p>
    <p class="album-artist">GOLDHOUSE</p>
    <p class="song-count">8 songs</p>
  </div>

  <div class="album">
    <a class="ember-view" href="/album/1">
      <img src="images/the-morning-after.jpg">
    </a>
    <p class="album-name">The Morning After</p>
    <p class="album-artist">GOLDHOUSE</p>
    <p class="song-count">8 songs</p>
  </div>
</div>

<footer class="ember-view now-playing">
  <span class="now-playing-empty">Select a song to start playing.</span>
</footer>
