<header>
  <h1>BümBöx</h1>
</header>

<div class="album-list">

  {{#each }}
    <div class="album">
      <a class="ember-view" href="/album/1">
        <img src="{{artwork}}">
      </a>
      <p class="album-name">{{name}}</p>
      <p class="album-artist">{{artist}}</p>
      <p class="song-count">
        {{songs.length}} songs
      </p>
    </div>
  {{/each}}

</div>

<footer class="ember-view now-playing">
  <span class="now-playing-empty">Select a song to start playing.</span>
</footer>
